@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using CarShopWebProject.Infrastructure
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {

        <li class="nav-item">
            <a class="nav-link " style="color: slategrey;" asp-controller="Admin" asp-action="CreateAdmin">Manage products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " style="color: slategrey;" asp-controller="Admin" asp-action="AddProductPage">Add Product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: slategrey;" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link mt-1" style="font-family:Arial; color:slategrey; font-size:1rem;">Logout</button>
            </form>
        </li>
    }

    else
    {
        <li class="nav-item">
            <a class="nav-link" style="color: slategrey; font-family: Arial;" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: slategrey; font-family: Arial;" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
