@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-white">@ViewData["Title"]</h1>

<p class="text-white">
    This webiste
    is for people who want to sell gaming related products!
    <br />
</p>

<p class="text-white">
    Hope you are going to sell valid Products in our website!
    <br />
</p>

<p class="text-white">
    Have a nice day :)
</p>