<div class="col text-center" style="">
    <h1><a class="nav-link " style="color: white;" asp-controller="Product" asp-action="Add">Click here to add game!</a></h1>
    <h2><a class="nav-link " style="color: white;" asp-controller="GiftCard" asp-action="AddGiftCard">Click here to add gift card!</a></h2>
</div>
